.pagination {
    margin: 10px 0 15px;

    .pages-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 5px;
        color: var(--teal-color);
        font-weight: bold;

        .pages-number {
            color: var(--violet-color);
        }

        .per-page-input {
            width: 70px;
            padding: 2px;
            border: 2px solid var(--teal-color);
            border-radius: 5px;
            outline: none;
            color: var(--teal-color);
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            background-color: var(--inputs-background);
        }
    }
    .buttons-wrapper {
        display: flex;
        gap: 20px;
    }
}