.nav-menu {
    .nav-list {
        display: flex;
        gap: 40px;

        li {
            color: var(--wheat-color);
            font-weight: bold;
            font-size: 18px;

            .nav-link {
                text-decoration: none;
                color: var(--wheat-color);
                padding: 10px 16px;
                border-radius: 20px;
                box-sizing: border-box;
                transition: 0.3s;
                border-right: 3px solid transparent;
                border-left: 3px solid transparent;

                &:hover {
                    border-color: var(--hover-color-yellow);
                    color: var(--hover-color-yellow);
                }

                &.is-active-link {
                    border-color: var(--orange-color);
                    box-shadow: 2px 2px 5px 2px inset rgb(29, 79, 79);
                    color: var(--orange-color);
                    transition: 0.3s;

                    &:hover {
                        color: var(--hover-color-yellow);
                        border-color: var(--hover-color-yellow);
                    }
                }
            }
        }
    }
}