.user-item {
    background-color: var(--teal-color);
    color: var(--orange-color);
    margin: 3px;
    padding: 4px 20px;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: var(--orange-color);
        color: var(--teal-color);
    }

    .user-name {
        display: inline-block;
    }
    span {
        color: var(--light-blue-text-color);
    }
}