.search-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;

    .search-label {
        color: var(--violet-color);
        font-weight: bold;

        span {
            font-weight: normal;
            font-style: italic;
            color: var(--teal-color);
            font-size: 14px;
        }
    }

    .app-search {
        padding: 6px 10px;
        width: 400px;
        outline: none;
        border: 2px solid var(--teal-color);
        border-radius: 8px;
        font-size: 18px;
        color: var(--dark-teal-color);

        &:focus {
            border-color: var(--orange-color);
        }
    }
}