.log-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;

    .title-greeting {
        font-style: italic;
        color: var(--dark-violet-color);
        font-size: 24px;
        background-color: var(--teal-color);
        padding: 16px;
        border-radius: 16px;

        span {
            color: var(--orange-color);
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            padding: 10px;
            color: var(--gray-text-color);
        }
    }
}