.auth-page {
    height: 90vh;

    .auth-page-title {
        text-align: center;
        padding: 12px 0;
        color: var(--violet-color);
        font-size: 28px;
        text-shadow: var(--orange-color) 2px 2px;
    }
}