.recipe-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .title {
        color: var(--orange-color);
        background-color: var(--teal-color);
        width: fit-content;
        padding: 8px 20px;
        border-radius: 16px;
        font-weight: normal;
        font-size: 24px;
    }

    .link-to-author {
        font-size: 24px;
        font-style: italic;
        color: var(--teal-color);
        background-color: var(--light-blue-text-color);
        padding: 10px;
        border-radius: 10px;
        transition: 0.3s;

        &:hover {
            background-color: var(--orange-color);
        }
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-color: var(--wheat-color);
        padding: 20px;
        border-radius: 20px;

        .instructions {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            text-align: center;
            font-style: italic;

            p {
                font-weight: bold;
            }

            .ingredients-list {
                color: var(--violet-color);
            }

            .instructions-list {
                color: var(--teal-color);
            }
        }
    }
}

.not-found-message {
    color: var(--error-text-color);
    margin-top: 30vh;

    span {
        background-color: var(--error-text-color);
        color: white;
        padding: 3px 5px;
    }
}