.main-button {
    padding: 10px 30px;
    background-color: var(--teal-color);
    color: var(--light-yellow-buttons);
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid var(--wheat-color);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        border-color: var(--orange-color);
        background-color: var(--teal-color);
        color: var(--orange-color);
    }

    &:disabled {
        opacity: 0.5;
        cursor: auto;

        &:hover {
            border-color: var(--wheat-color);
            background-color: var(--teal-color);
            color: var(--light-yellow-buttons);
        }
    }
}