.no-recipes-info {
    color: #5C5EDC;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.user-recipes {
    p {
        color: #5C5EDC;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 20px;
    }
}