.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        color: var(--teal-color);
        margin: 100px 0 20px 0;
        font-size: 20px;
    }

    .form-wrapper {
        display: flex;
        justify-content: center;
        gap: 100px;

        .inputs-wrapper {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .auth-form-input {
                padding: 6px 10px;
                width: 400px;
                outline: none;
                border: 2px solid var(--teal-color);
                border-radius: 8px;
                font-size: 18px;
                color: var(--dark-teal-color);

                &:focus {
                    border-color: var(--orange-color);
                }
            }

            p {
                margin-bottom: 5px;
                color: var(--violet-color);
                font-weight: bold;
            }

            label {
                display: block;

                p {
                    display: inline-block;
                    margin-right: 10px;
                }
                .input-error-message {
                    color: var(--error-text-color);
                }
                input {
                    display: block;
                }
            }
            .auth-error-message {
                color: var(--error-text-color);
            }
        }

        .select-label {
            display: block;
            margin-bottom: 20px;

            p {
                margin-bottom: 5px;
                color: var(--violet-color);
                font-weight: bold;
            }

            .auth-form-select {
                padding: 6px 10px;
                width: 400px;
                outline: none;
                border: 2px solid var(--teal-color);
                border-radius: 8px;
                font-size: 18px;
                color: var(--dark-teal-color);

                &:focus {
                    border-color: var(--orange-color);
                }

            }
        }
    }
}