:root {
    --teal-color: rgba(0, 98, 98, 0.69);
    --dark-teal-color: #005252;
    --orange-color: #ffb700;
    --wheat-color: wheat;
    --light-yellow-buttons: lightyellow;
    --hover-color-yellow: #ffd267;
    --violet-color: #5C5EDC;
    --dark-violet-color: #490096;
    --gray-text-color: gray;
    --light-blue-text-color: lightblue;
    --hash-tags-backgrount: rgba(173, 216, 230, 0.58);
    --hash-tags-text-color: teal;
    --inputs-background: #f5faf7;
    --dark-green-text: #024b00;
    --light-green-text: #009d00;
    --error-text-color: firebrick;
    --body-color: #c2c2c2;
    --background-url: url("../../public/bg_lite1.jpg");
}

.dark {
    --teal-color: rgba(56, 115, 150, 0.65);
    --dark-teal-color: #003552;
    --orange-color: #cd00d5;
    --wheat-color: #ddb3f5;
    --light-yellow-buttons: #fde0ff;
    --hover-color-yellow: rgba(217, 103, 255, 0.89);
    --violet-color: #20b0e5;
    --dark-violet-color: #008c9f;
    --gray-text-color: gray;
    --light-blue-text-color: #ffe0fd;
    --hash-tags-backgrount: rgba(218, 173, 230, 0.58);
    --hash-tags-text-color: #93c2e8;
    --inputs-background: #baa3c5;
    --dark-green-text: #024b00;
    --light-green-text: #009d00;
    --error-text-color: firebrick;
    --body-color: #000000;
    --background-url: url("../../public/bg_dark1.jpg");
}

body {
    background-color: var(--body-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

ul, li {
    list-style-type: none;
}

.app-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    background-image: var(--background-url);
    background-size: cover;
}

.not-found-container {
    text-align: center;
    margin-top: 40vh;
    color: var(--error-text-color);

    .link-to-homepage {
        display: block;
        font-size: 18px;
        margin-top: 16px;
        color: var(--dark-green-text);
        transition: 0.4s;

        &:hover {
            color: var(--light-green-text);
        }
    }
}