:root {
    --teal-color: teal;
    --dark-teal-color: #005252;
    --orange-color: #ffb700;
    --wheat-color: wheat;
    --light-yellow-buttons: lightyellow;
    --hover-color-yellow: #ffd267;
    --violet-color: #5C5EDC;
    --dark-violet-color: #490096;
    --gray-text-color: gray;
    --light-blue-text-color: lightblue;
    --hash-tags-backgrount: rgba(173, 216, 230, 0.58);
    --app-wrapper: #e1eef3;
    --dark-green-text: #024b00;
    --light-green-text: #009d00;
    --body-color: #c2c2c2;
    --error-text-color: firebrick;
}

.dark {
    --body-color: #505050;
}

body {
    background-color: var(--body-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

ul, li {
    list-style-type: none;
}

.app-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    background-color: var(--app-wrapper);
}

.not-found-container {
    text-align: center;
    margin-top: 40vh;
    color: var(--error-text-color);

    .link-to-homepage {
        display: block;
        font-size: 18px;
        margin-top: 16px;
        color: var(--dark-green-text);
        transition: 0.4s;

        &:hover {
            color: var(--light-green-text);
        }
    }
}