.home-page {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .home-page-title {
        text-align: center;
        padding: 12px 0;
        color: var(--violet-color);
        font-size: 28px;
        text-shadow: var(--orange-color) 2px 2px;
    }
    .home-page-text {
        color: var(--teal-color);
        font-size: 24px;
        margin-bottom: 30px;

        span:first-child {
            color: #6eb6cb;
        }

        span:nth-child(2) {
            color: #ffb700;
        }

        span:last-child {
            color: #5C5EDC;
        }
    }
    .need-to-login {
        display: flex;
        gap: 10px;
        color: var(--error-text-color);
        font-size: 18px;

        .link {
            color: var(--teal-color);
            font-weight: bold;
            font-style: italic;
        }
    }
}