.user-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .info-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        background: var(--wheat-color);
        padding: 20px 40px;
        border-radius: 20px;

        .image-wrapper {
            background-color: var(--light-yellow-buttons);
        }

        .user-info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-size: 28px;
                color: var(--orange-color);
                margin-bottom: 10px;
                background-color: var(--teal-color);
                padding: 10px;
                border-radius: 10px;
            }

            p {
                color: var(--teal-color);

                span {
                    font-weight: bold;
                }
            }
        }
    }
}

.not-found-message {
    color: var(--error-text-color);
    margin-top: 30vh;

    span {
        background-color: var(--error-text-color);
        color: white;
        padding: 3px 5px;
    }
}